aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.11.14+computecanada
aiosignal==1.3.2+computecanada
anndata==0.11.0+computecanada
anyio==4.9.0+computecanada
argcomplete==3.5.1+computecanada
argon2_cffi==23.1.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
array_api_compat==1.9.1+computecanada
arrow==1.3.0+computecanada
asttokens==3.0.0+computecanada
async_lru==2.0.4+computecanada
attrs==25.3.0+computecanada
babel==2.17.0+computecanada
beautifulsoup4==4.13.3+computecanada
bleach==6.2.0+computecanada
boto==2.49.0+computecanada
cachetools==5.5.2+computecanada
comm==0.2.2+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
./wheels/dulwich-0.22.8-py3-none-any.whl
executing==2.2.0+computecanada
fasteners==0.19+computecanada
fastjsonschema==2.21.1+computecanada
fonttools==4.55.8+computecanada
fqdn==1.5.1+computecanada
frozenlist==1.5.0+computecanada
fsspec==2025.3.2+computecanada
gcs-oauth2-boto-plugin==2.7+computecanada
gcsfs==2025.3.2+computecanada
google-apitools==0.5.32+computecanada
./wheels/google_cloud_storage-3.0.0-py2.py3-none-any.whl
google-reauth==0.1.1+computecanada
google_api_core==2.24.2+computecanada
google_auth==2.38.0+computecanada
google_auth_oauthlib==1.2.1+computecanada
google_cloud_core==2.4.3+computecanada
google_crc32c==1.6.0+computecanada
google_resumable_media==2.7.2+computecanada
googleapis_common_protos==1.70.0+computecanada
h11==0.14.0+computecanada
h5py==3.12.1+computecanada
httpcore==1.0.8+computecanada
httplib2==0.22.0+computecanada
httpx==0.28.1+computecanada
./wheels/installer-0.7.0-py3-none-any.whl
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
isoduration==20.11.0+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
joblib==1.4.2+computecanada
json5==0.10.0+computecanada
jsonpointer==3.0.0+computecanada
jsonschema==4.23.0+computecanada
jsonschema_specifications==2024.10.1+computecanada
./wheels/jupyter-1.1.1-py2.py3-none-any.whl
jupyter-console==6.4.0+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyter_events==0.12.0+computecanada
jupyter_lsp==2.2.5+computecanada
jupyter_server==2.15.0+computecanada
jupyter_server_terminals==0.5.3+computecanada
jupyterlab==4.3.5+computecanada
jupyterlab_pygments==0.3.0+computecanada
jupyterlab_server==2.27.3+computecanada
jupyterlab_widgets==3.0.13+computecanada
kiwisolver==1.4.8+computecanada
legacy_api_wrap==1.4+computecanada
llvmlite==0.44.0+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib==3.10.0+computecanada
matplotlib_inline==0.1.7+computecanada
mistune==3.1.1+computecanada
mock==2.0.0+computecanada
monotonic==1.6+computecanada
mpmath==1.3.0+computecanada
multidict==6.2.0+computecanada
natsort==8.4.0+computecanada
nbclient==0.10.2+computecanada
nbconvert==7.16.6+computecanada
nbformat==5.10.4+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.4.2+computecanada
notebook==7.3.2+computecanada
notebook_shim==0.2.4+computecanada
numba==0.61.2+computecanada
numpy==2.2.2+computecanada
oauth2client==4.1.3+computecanada
oauthlib==3.2.2+computecanada
overrides==7.7.0+computecanada
pandas==2.2.3+computecanada
pandocfilters==1.5.1+computecanada
parso==0.8.4+computecanada
patsy==1.0.1+computecanada
pillow==11.1.0+computecanada
pluggy==1.5.0+computecanada
prometheus_client==0.21.1+computecanada
prompt_toolkit==3.0.50+computecanada
propcache==0.3.1+computecanada
proto_plus==1.26.1+computecanada
protobuf==6.30.2+computecanada
psutil==6.1.1+computecanada
pure_eval==0.2.3+computecanada
pyasn1==0.6.1+computecanada
pyasn1_modules==0.4.2+computecanada
pygments==2.19.1+computecanada
pynndescent==0.5.13+computecanada
pyOpenSSL==25.0.0+computecanada
python_dateutil==2.9.0.post0+computecanada
python_json_logger==3.3.0+computecanada
pytz==2025.1+computecanada
pyu2f==0.1.4+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
referencing==0.36.2+computecanada
requests_oauthlib==2.0.0+computecanada
retry-decorator==1.1.1+computecanada
rfc3339_validator==0.1.4+computecanada
rfc3986_validator==0.1.1+computecanada
rpds_py==0.21.0+computecanada
rsa==4.9+computecanada
scanpy==1.10.3+computecanada
scikit_learn==1.6.1+computecanada
scipy==1.15.1+computecanada
seaborn==0.13.2+computecanada
Send2Trash==1.8.3+computecanada
session_info==1.0.0+computecanada
six==1.17.0+computecanada
sniffio==1.3.1+computecanada
soupsieve==2.6+computecanada
stack_data==0.6.3+computecanada
statsmodels==0.14.4+computecanada
stdlib_list==0.11.0+computecanada
sympy==1.13.3+computecanada
terminado==0.18.1+computecanada
threadpoolctl==3.6.0+computecanada
tinycss2==1.4.0+computecanada
tornado==6.4.2+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
./wheels/trove_classifiers-2025.4.11.15-py3-none-any.whl
types_python_dateutil==2.9.0.20241206+computecanada
tzdata==2025.1+computecanada
umap_learn==0.5.7+computecanada
uri_template==1.3.0+computecanada
wcwidth==0.2.13+computecanada
webcolors==24.11.1+computecanada
websocket_client==1.8.0+computecanada
widgetsnbextension==4.0.13+computecanada
yarl==1.18.3+computecanada
